---
Checks: >
  -*,
  bugprone-*,
  -concurrency-*, #reactivate once I do threading
  linuxkernel-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  altera-struct-pack-align,
  -misc-use-anonymous-namespace,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -readability-identifier-length,
  -bugprone-implicit-widening-of-multiplication-result,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-redundant-casting,
  -readability-math-missing-parentheses,
  -readability-avoid-const-params-in-decls,
  -altera-struct-pack-align,
  -performance-enum-size,
  -misc-non-private-member-variables-in-classes,
